.form__container {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: white;
    align-items: center;
    margin-bottom: 20px;
    grid-gap: 10px 10px;

}

.form__header {
    padding: 20px;
    border-bottom: 5px solid #d9d9d9;

}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 20px;
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
}

.form__newTask {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-left: 20px;
}