.list{
    list-style-type: none;
}

.list__items--done{
    text-decoration: line-through;
}
.list__button--delete{
    border: none;   
    background-image: url(../Images/delete.png);
    width: 23px; 
    height: 23px;
    
}
.list__button--notdone{
    border: none;   
    background-image: url(../Images/notdone.png);
    width: 23px; 
    height: 23px;
}
.list__button--done{
    border: none;   
    background-image: url(../Images/done.png);
    width: 23px; 
    height: 23px;
}
.list__delete{
    object-position: right;
}
